@import url('https://fonts.googleapis.com/css2?family=Poppins');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none; 
}

ul {
    list-style: none;
}



body, html{
    overflow-x: hidden;
    background: linear-gradient(to top, rgba(141, 127, 114, 0)0%, rgba(165, 148, 132, 0.376)100%);
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
    color: whitesmoke;
    
}

.nav-links {
    display: flex;
    align-items: center;
    
}

.nav-links a{
    color: whitesmoke;
    
}

.nav-links li {
    margin: 0 30px;
    
}


header {
    width: 100vw;
    height: 100vh;
    background-image: url('./img/violao.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.header-conteiner h2 {
    font-size: 4vmin;
}

.header-conteiner {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.line {
    width: 150px;
    height: 7px;
    background: #f80404;
    margin: 10px auto;
    border-radius: 5px;
}

.header-conteiner h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background: #f83d37;
    border-radius: 30px;
    color: whitesmoke;
}

.menu {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: none;
    
}



section {
    width: 80%;
    margin: 80px auto;
    
}

.text {
    margin-top: 50px;

}


.modelos p {
    font-size: 25px;
    text-align: justify;  
    text-indent: 0;
    color: #0f0f0f;
}



.title {
    text-align: center;
    font-size: 4vmin;
    color: #0f0f0f;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}



.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modelos .row {
    margin-top: 50px;
    

}

h4{
    font-size: 30px;
    color: #0c0909;
    margin: 20px auto;
}


.modelos .ctn {
    margin-top: 30px;
}


.explore {
    width: 100%;
    height: 100vh;
    background-image: url('./img/violoesM.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}


.exemplo-content {
    width: 40%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.exemplo-content h1 {
    font-size: 7vmin;
}



.exemplo-content .line {
    margin-bottom: 50px;
}


.exemplo-content p {
    color: rgb(221, 221, 221);
    font-size: 25px;
}


.exemplo-content .ctn {
    margin-top: 40px;
}


.content-col {
    width: 35%;
    
}

.image-col {
    width: 60%;
}


.models .image-galery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}


.imagem-galery img {
    max-width: 300px;
    margin: 10px;
}


.content-col h1 {
    font-size: 7vmin;
    color: #000000;
}


.content-col .line {
    margin-left: 2px;
}


.content-col p {
    color: #050505;
    padding: 0px 40px;
    margin: 5px auto;
    font-size: 25px;
    text-indent: 0;
        
}


.content-col .ctn {
    margin-left: -100px;
}



.contact-methods {
    display: flex;
}

.contato h3 {
    margin-bottom: 30px;
    font-size: 30px;
    
    
}

form input,
form textarea,
form button {
    display: flex;
    width: 500px;
    margin-bottom: 8px;
    padding: 8px;
    font-size: 30px;
}

form textarea {
    resize: none;
}


.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #050505;
    text-align: center;
    font-size: 20px;
}

.footer p{
    margin-bottom: 10px;
    color: aliceblue;
}

/* Mobile device*/
@media only screen and (max-width:850px){

    .menu{
        display: block;
    }

    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(90, 75, 62);
        margin-top: -900px;
        transition: all 0.5s ease;
    }

    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li {
    margin: 30px auto;
    color: whitesmoke;
    }

    .row {
        flex-direction: column;
    }

    .row .col {
        margin: 20px auto;
    }

    .col img {
        max-width: 90%;

    }

    .exemplo-content {
        width: 100%;
    }

    .modelos .col {
        width: 100%;
    }

    .imagem-galery {
        justify-content: center;
        align-items: center;

    }

    .imagem-galery {
        width: 90%;
    }

    .footer {
        padding: 10px;
    }
}

img {
    transition: transform .3s ease;
}

img:hover {
    transform: scale(0.9);
}



.ctn:hover {
    background: whitesmoke;
    color: #f80404;
    box-shadow: 2px 2px 5px #000000;
}

a:hover {
    color: #f80404;
    cursor: zoom-out;
}